body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: lightseagreen;
    color: black;
    font-family: 'Times New Roman';
    margin: 10px;
}
footer {
    background-color: lightseagreen;
    color: black;
    font-family: 'Times New Roman';
    margin: 10px;
}
main {
    background-color: white;
    color: black;
    font-family: 'Segoe UI';
    margin: 0px;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: black;
}
a:visited {
    color: lightseagreen;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: gray;
    box-shadow: 0 0 20px lightseagreen;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: gray;
    box-shadow: 0 0 15px black;
}