body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: lightseagreen;
    color: black;
    font-family: 'Times New Roman';
    margin: 10px;
}
footer {
    background-color: lightseagreen;
    color: black;
    font-family: 'Times New Roman';
    margin: 10px;
}
main {
    background-color: white;
    color: black;
    font-family: 'Segoe UI';
    margin: 0px;
}
a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: lightseagreen;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: gray;
    box-shadow: 0 0 20px lightseagreen;
}
a:active {
    color: black;
    opacity: 0.3;
}